gestion-automatica-de-inventario/workflow.json
{
  "name": "Pedidos Ropa PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35315084-58d8-4249-97a8-269cf62bf8d9",
              "leftValue": "={{ $json['Dirección de correo electrónico'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1ad3ba98-faa8-4971-af1b-dbe4159b116b",
              "leftValue": "={{ $json['Fecha de verificación'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -496,
        144
      ],
      "id": "341277a3-56e3-4aa7-89d8-91320d11b9b9",
      "name": "Filtrar solicitudes sin correo"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nSolicitudes",
        "height": 288,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        32
      ],
      "typeVersion": 1,
      "id": "cd8dd56f-ba85-4d89-8203-53fcbc6ad2d2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "javidebortoli@gmail.com",
        "subject": "Actualizacion de camisetas",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Actualización de Stock</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"400\" cellpadding=\"20\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 6px;\">\n          <tr>\n            <td align=\"center\">\n              <h2 style=\"margin: 0;\">Stock Actualizado</h2>\n            </td>\n          </tr>\n          <tr>\n            <td>\n              <p>Hola Javier,</p>\n              <p>Se ha actualizado el stock de tu tienda automáticamente según los pedidos recibidos.</p>\n\nSe han recibido {{ $json.data.length }} solicitudes\n              <p>Puedes revisar el inventario actualizado en tu bd.</p>\n              <p>Saludos,<br>Tu Sistema de Gestión</p>\n            </td>\n          </tr>\n          <tr>\n            <td align=\"center\" style=\"font-size: 12px; color: #777;\">\n              © 2026 Sistema de Tienda\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        128
      ],
      "id": "606cfd9a-5631-4bc0-8841-e260a34b6b11",
      "name": "Actualizacion de camisetas",
      "webhookId": "70582349-a8aa-4c9f-b736-1228b68869f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "cuwYLJjnXZA68YY4",
          "name": "javidebortoli@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gmail\nNotificación de actualización de inventario\n",
        "height": 320,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "bbc53e7b-f611-47df-999a-0f9e597dcb2b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw",
          "mode": "list",
          "cachedResultName": "Solicitud de encargo de camisetas (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1347280372,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw/edit#gid=1347280372"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        144
      ],
      "id": "1a510211-6f6c-4bfa-ba67-518f9e7bc6c1",
      "name": "Nueva solicitud recibida",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "I8P1qvNzVbEkgA81",
          "name": "javidebortoli@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        144
      ],
      "id": "6cef0696-86dc-4337-b221-ba6ca6c00d38",
      "name": "Recorrer solicitudes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM inventario WHERE talla = '{{ $json['Talla de la camiseta'].substring(0,4).replaceAll('--','') }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        448
      ],
      "id": "4bb163fb-d481-44e0-906a-89e1b0721f85",
      "name": "Obtener inventario",
      "credentials": {
        "postgres": {
          "id": "3kn8vMJBVz7CHYhF",
          "name": "Neon.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d73f713-7732-4b2d-a45d-a8ffadc29c11",
              "name": "in_stock",
              "value": "={{ $json.in_stock - 1 }}",
              "type": "number"
            },
            {
              "id": "416b63a9-4951-4526-96ef-6ebe896b3c52",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        448
      ],
      "id": "40b826e1-de39-4ec4-8eb7-cac9e6cfae81",
      "name": "Actualizar inventario"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "inventario",
          "mode": "list",
          "cachedResultName": "inventario"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "in_stock": "={{ $json.in_stock }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_producto",
              "displayName": "nombre_producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "talla",
              "displayName": "talla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "in_stock",
              "displayName": "in_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        448
      ],
      "id": "7711a507-19a9-4be1-818e-8d642b2d51e0",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "3kn8vMJBVz7CHYhF",
          "name": "Neon.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## PostgreSQL\nActualizar bd",
        "height": 256,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        352
      ],
      "typeVersion": 1,
      "id": "c6173a6d-8905-42ea-8df4-53eb4036b29c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw",
          "mode": "list",
          "cachedResultName": "Solicitud de encargo de camisetas (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1347280372,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw/edit#gid=1347280372"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dirección de correo electrónico": "={{ $('Recorrer solicitudes').item.json['Dirección de correo electrónico'] }}",
            "Verificado": "={{ true }}",
            "Fecha de verificación": "={{ $now.format('yyyy-MM-dd HH:MM') }}"
          },
          "matchingColumns": [
            "Dirección de correo electrónico"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Talla de la camiseta",
              "displayName": "Talla de la camiseta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comentarios adicionales",
              "displayName": "Comentarios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dirección de correo electrónico",
              "displayName": "Dirección de correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de verificación",
              "displayName": "Fecha de verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        448
      ],
      "id": "832ab290-0843-4bde-8d22-814327e92080",
      "name": "Actualizar sheets respuestas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Lxd614Fq9LGbcGwq",
          "name": "javidebortoli@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw",
          "mode": "list",
          "cachedResultName": "Solicitud de encargo de camisetas (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1347280372,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YQ15iOT3MtcaLH4S_h6__osJKBOAf0ihgZmHJZqdIqw/edit#gid=1347280372"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dirección de correo electrónico": "={{ $('Recorrer solicitudes').item.json['Dirección de correo electrónico'] }}",
            "Verificado": "={{ false }}",
            "Fecha de verificación": "={{ $now.format('yyyy-MM-dd HH:MM') }}"
          },
          "matchingColumns": [
            "Dirección de correo electrónico"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Talla de la camiseta",
              "displayName": "Talla de la camiseta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comentarios adicionales",
              "displayName": "Comentarios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dirección de correo electrónico",
              "displayName": "Dirección de correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de verificación",
              "displayName": "Fecha de verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        656
      ],
      "id": "cd7e01c0-9d28-4f9e-85f8-9c2428a563f6",
      "name": "Respuestas sin stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Lxd614Fq9LGbcGwq",
          "name": "javidebortoli@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        640
      ],
      "typeVersion": 1,
      "id": "5fd1db33-48bc-40a3-aadf-7a013f2cc17f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nVerificacion",
        "height": 288,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        352
      ],
      "typeVersion": 1,
      "id": "7b737733-735a-47b7-af54-d1fe14c79fdb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        32,
        128
      ],
      "id": "a77799d4-a87c-48ca-ab16-9aef02a3c44a",
      "name": "Unir solicitudes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef026ade-5443-4baf-829c-2d56f2aca1e1",
              "leftValue": "={{ $json.in_stock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "28ba3ef1-032b-4ff4-8347-fbd79a393de8",
              "leftValue": "={{ $json.in_stock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        448
      ],
      "id": "56b06f52-1ec6-47ef-9ea1-32e8384fcd76",
      "name": "¿Hay suficiente inventario?"
    }
  ],
  "pinData": {},
  "connections": {
    "Filtrar solicitudes sin correo": {
      "main": [
        [
          {
            "node": "Recorrer solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nueva solicitud recibida": {
      "main": [
        [
          {
            "node": "Filtrar solicitudes sin correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recorrer solicitudes": {
      "main": [
        [
          {
            "node": "Unir solicitudes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener inventario": {
      "main": [
        [
          {
            "node": "¿Hay suficiente inventario?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar inventario": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Actualizar sheets respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuestas sin stock": {
      "main": [
        [
          {
            "node": "Recorrer solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar sheets respuestas": {
      "main": [
        [
          {
            "node": "Recorrer solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir solicitudes": {
      "main": [
        [
          {
            "node": "Actualizacion de camisetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay suficiente inventario?": {
      "main": [
        [
          {
            "node": "Actualizar inventario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuestas sin stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "29a934e7-2e6a-4bc7-916d-4faa4208f8c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8b1efddd52ba851d4d9b0653ca505f27c13da4dadf06e758dd070e0ef6d5d64"
  },
  "id": "4tYQSsvEcSvPInnj",
  "tags": []
}